[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "SpaceVim"]
	path = SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "modules/ohmyzsh"]
	path = modules/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
