[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "modules/p10k"]
	path = modules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "modules/ohmyzsh"]
	path = modules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "modules/zsh-autosuggestions"]
	path = modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm.git
